<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>weiqh</display-name>
  <welcome-file-list>
    <welcome-file>jsp/index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 设置session会话时间 ,默认是20分钟 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	 <!--定义一个过滤器-->
	 <filter>
	    <!--给过滤器起个名字-->
		<filter-name>loginOfAdminFilter</filter-name>
		<!--过滤器的位置-->
		<filter-class>com.lcvc.ebuy.filter.LoginOfAdminFilter</filter-class>
		<!--拦截url中，哪些请求例外-->
		<init-param>    
			<param-name>exclusions</param-name>    
			<param-value>/admin/login</param-value>  
		</init-param> 
	 </filter>
     <!--给指定的过滤器进行配置-->
	<filter-mapping>
	    <!-- 给哪个过滤器定义拦截配置 -->
		<filter-name>loginOfAdminFilter</filter-name>
		 <!-- 要拦截哪个url -->
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
  
</web-app>